@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    @apply font-light text-white text-base;
    overflow-x: hidden;
    @apply h-full
}

.main{
    @apply relative z-10 flex flex-col items-center
}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right {
    display: none !important;
}

.text-gradient-1 {
    background: linear-gradient(90deg, #EE87FE 0%, #6E1FCE 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
