@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-container {
        @apply mx-auto max-w-screen-xxl px-4 xxl:px-0;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    @apply text-base font-light text-white;
    overflow-x: hidden;
    @apply h-full
}

.main {
    @apply relative z-10 flex flex-col items-center;
}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    display: none !important;
}

.text-gradient-1 {
    background: linear-gradient(90deg, #ee87fe 0%, #6e1fce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
